<h2>Log In:</h2>
<%= form_for(:session, url: login_path) do |f| %>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    <%= f.submit "Login" %>
<% end %>
<br>
<% if @error %>
    <%= @error %>
<% end %>
<br>
<%= link_to "Signup", new_user_path %>
<br>
<%= link_to('Log in with GitHub!', '/auth/github') %>