<h2>Actions Performed</h2>
<%= form_tag('/actions', method: :get) do %>
    <%= select_tag("action_filter", options_for_select(["All", "Battles", "Captures", "Newly Commissioned"], "All")) %>
    <%= submit_tag "Submit" %>
<% end %>
<ul>
    <% @actions.each do |action| %>
        <li><%= link_to action.action_type, action_path(action.id) %> - Involving the ships:</li>
        <% action.ships.each do |ship| %>
            <%= link_to ship.name, ship_path(ship) %><br>
        <% end %>
    <% end %>
</ul><br>
<%= link_to "Create New Action", new_action_path %>