<!DOCTYPE html>
<html>
  <head>
    <title>AdmiraltyDashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <div id="navbar">
        <ul>
          <li><%= link_to "Home", user_path %></li>
          <li><%= link_to "Captains", captains_path %></li>
          <li><%= link_to "Ships", ships_path %></li>
          <li><%= link_to "Actions", actions_path %></li>
          <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        </ul>
      </div><!-- End of navbar -->
    <% end %>

    <%= yield %>
  </body>
</html>
