<h1>Admiral <%= @user.name %>'s Dashboard</h1>
<h2>Currently Active Captains:</h2>

<ul id="captain_index">

<!-- Refactor this with javascript
<% @captains.each do |c| %>
    <li><%= link_to c.name, captain_path(c.id) %> - currently commanding the <% if c.current_ship == nil %>chair in an office.<% else %><%= link_to c.current_ship.name, ship_path(c.current_ship.id) %><% end %></li>
<% end %>-->
</ul><br>
<button id="btn_captains">Show Captains</button><br>
<%= link_to "Create New Captain", new_captain_path %>

<h2>Current Fleet:</h2>
<ul>
<% @ships.each do |s| %>
    <li><%= link_to s.name, ship_path(s) %></li>
<% end %>
</ul>
<%= link_to "Create New Ship", new_ship_path %>